<div class="map-page">
  <agm-map [latitude]="currentLocation.latitude" [longitude]="currentLocation.longitude" [zoom]="zoom"
           [zoomControl]="false"
           gestureHandling="greedy"
           [mapTypeId]="mapTypeId"
           [usePanning]="true"
           (mapClick)="mapClicked($event)">

    <agm-marker *ngFor="let station of coords" [latitude]="station.lat" [longitude]="station.lon"
                [iconUrl]="currentLocationMarker.iconUrl">
      <agm-info-window>
        <div *ngIf="!foundPark">
          <h4>{{station.name}}</h4>
          <br/>
          המערכת מחפשת חניה עבורך
          <br>
          <br> האם תרצה לשתף את כלי הרכב במהלך השהות בחנייה
          <br>
          <div style="float:left">
              <button class="btn btn-primary" (click)="foundPark = true">כן</button>
              <button class="btn btn-dark" (click)="foundPark = true">לא</button>
          </div>
        </div>

        <div dir="rtl" *ngIf="foundPark">
          <br />
          החנייה שנבחרה עבורך היא :
          <br />
          <div style="float:left">
            <button type="button" class="btn btn-secondary" onclick="location.href='https://www.waze.com/livemap?ll=31.252973%2C34.791462&navigate=yes&zoom=17';">נווט</button>
          </div>
        </div>
      </agm-info-window>

    </agm-marker>
    <agm-marker
      [latitude]="currentLocationMarker.latitude"
      [longitude]="currentLocationMarker.longitude"
      [iconUrl]="currentLocationMarker.iconUrl">
      <agm-info-window>Hello world</agm-info-window>
    </agm-marker>

    <core-map-content (onMapLoad)="loadAPIWrapper($event)"></core-map-content>
  </agm-map>

  <img (click)="goToCurrentLocation()" class="location-button" src="/assets/new-design-assets/gps-button.png"/>

</div>
