<div class="map-page">
  <agm-map [latitude]="currentLocation.latitude" [longitude]="currentLocation.longitude" [zoom]="zoom"
           [zoomControl]="false"
           gestureHandling="greedy"
           [mapTypeId]="mapTypeId"
           [usePanning]="true"
           (mapClick)="mapClicked($event)">

    <agm-marker *ngFor="let station of foo()"
                [latitude]="station.lat" [longitude]="station.lon">
    </agm-marker>

    <agm-marker
      [latitude]="currentLocationMarker.latitude"
      [longitude]="currentLocationMarker.longitude"
      [iconUrl]="currentLocationMarker.iconUrl">
      <agm-info-window>Hello world</agm-info-window>
    </agm-marker>

    <core-map-content (onMapLoad)="loadAPIWrapper($event)"></core-map-content>
  </agm-map>

  <img (click)="goToCurrentLocation()" class="location-button" src="/assets/new-design-assets/gps-button.png"/>

</div>
